.chat{
    display: flex;
    flex-direction: column;
    flex:0.80;
    color: rgb(212, 212, 212);
    background-color:#2e3135;
}
.chat__header{
    display: flex;
    padding:20px;
    border-bottom:0px solid lightgray;
    
}
.chat__headerInfo{
    flex: 1;
    padding-left: 20px;
    justify-content: center;
}
.chat__headerInfo h3{
    margin-bottom:3px;
    font-weight: 600;
    font-size: x-large;
}
.chat__headerInfo p{
    color: rgb(141, 141, 141);
}


.chat__messages{
    position: relative;
    font-size: medium;
    padding: 10px;
    border-radius:10px;
    width: fit-content;
    max-width: 40vw;
    margin-bottom: 20px;
    margin-top: 5px;
    background-color: rgb(196, 196, 196);
    overflow-wrap: anywhere;
}

.chat__name{
    position: absolute;
    top:-15px;
    font-weight: 500;
    font-size:x-small;
    color: rgb(177, 177, 177);

}
.chat__timestamp{
    margin-left: 10px;
    font-size:xx-small;
}
.chat__reciever{
    margin-left: auto;
    background-color: #10914c;
    font-size: medium;
}
.chat__headerRight{
    display: flex;
    justify-content: space-between;
    min-width: 100px;
}
.chat__body{
    /* background-image: url('./bg.png'); */
    background-color: #36393F;
    flex: 1;
    background-image: repeat;
    background-position:center;
    overflow: scroll;
    padding: 30px;
    overflow-x: hidden;

}
/***************************************************/

.chat__body::-webkit-scrollbar {
    width: 0.5em;
}
 
.chat__body::-webkit-scrollbar-track {
    background: #4F545C;
}

.chat__body::-webkit-scrollbar-thumb {
  background: #2E3135;
  outline: 1px solid slategrey;
}

/***************************************************/

.chat__footer{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top:0px solid lightgray
}
.chat__footer form{
    flex: 1;
    display: flex;
}
.chat__footer form input{
    flex:1;
    border-radius: 30px;
    padding: 10px;
    border: none;
    background-color: #3d4147;
    font-size: medium;
    color: rgb(211, 211, 211);
}
.chat__footer form input:focus{
    border: none;
    outline: none;
}
.chat__footer form button{
    display: none;
}
.chat__footer .MuiSvgIcon-root{
    padding:7px;
    color: rgb(150, 150, 150);
}
.chat__footer .MuiSvgIcon-root :hover{
    color: white;
}

.hide__chat{
    display: none;
}
@media(max-width:628px){
    .chat{
        flex:1;
    }
    .chat__header{
        background-color: #b1b1b1;
        width: -webkit-fill-available;
        position: relative;
    }
    .chat__header__absolute{
        position: fixed;
        top: 0;
        color: white;
        z-index: 10;
        background-color: #075E54;

    }
    .chat__body{
        padding:15px;
        flex: 0.92 1;
    }
    .chat__messages{
        font-size:3vw;
        max-width:75vw;
        word-wrap: break-word;
    }
    .chat__header__absolute{
        display: flex;
        padding:20px;
        width: -webkit-fill-available;
        border-bottom:1px solid lightgray
    }
    /* .chat__headerRight{
        min-width:60px !important;
    } */
    .chat__headerRight .MuiSvgIcon-root{
        color: white !important;
    }
    button.MuiButtonBase-root.MuiIconButton-root {
        font-size: 2vw;
        padding: 0.5em;
    }
    .chat__header__absolute button.MuiButtonBase-root.MuiIconButton-root {
        color: white;
    }
    .chat__header__absolute .header__lastSeen{
        color: white;
    }
    .chat__footer {
        position: fixed;
        bottom: 0;
        background-color: #e6e6e6;;
        width: -webkit-fill-available;
        z-index: 4;
        height: 52px;
    }
    .chat__footer__absolute{
        display: flex;
        position: absolute;
        justify-content: space-between;
        align-items: center;
        height: 62px;
        border-top:1px solid lightgray
    }
    .header__lastSeen{
        font-size: 0.6em;
    }
    .MuiPaper-root {
        background-color: #e6e6e6;
    }
    .MuiPaper-root:focus{
        outline: none;
    }
}